In [1]:
import pandas as pd

In [2]:
start_cd = 'all_data/wearable_data/Data/'

In [3]:
students = ['S'+str(i) for i in range(1,11)]

In [4]:
tests = ['Final', 'Midterm 1', 'Midterm 2']

In [11]:
ACC_df_prep = pd.DataFrame()
for s in students:
    for t in tests:
        df_paused = pd.read_csv(start_cd+s+'/'+t+'/ACC.csv')
        df_paused = df_paused.drop(0).reset_index().drop(columns=['index'])
        cols = df_paused.columns
        df_paused = df_paused.rename(columns={cols[0]:'x',cols[1]:'y',cols[-1]:'z'})
        df_paused['student'] = s
        df_paused['test'] = t
        ACC_df_prep = pd.concat([ACC_df_prep,df_paused])

ACC_df = ACC_df_prep
ACC_df.head()

     x     y    z student   test
0 -3.0  65.0  6.0      S1  Final
1 -3.0  65.0  6.0      S1  Final
2 -3.0  65.0  6.0      S1  Final
3 -3.0  65.0  6.0      S1  Final
4 -3.0  65.0  6.0      S1  Final

In [12]:
BVP_df_prep = pd.DataFrame()
for s in students:
    for t in tests:
        df_paused = pd.read_csv(start_cd+s+'/'+t+'/BVP.csv')
        df_paused = df_paused.drop(0).reset_index().drop(columns=['index'])
        cols = df_paused.columns
        df_paused = df_paused.rename(columns={cols[0]:'data'})
        df_paused['student'] = s
        df_paused['test'] = t
        BVP_df_prep = pd.concat([BVP_df_prep,df_paused])

BVP_df = BVP_df_prep
BVP_df.head()

   data student   test
0  -0.0      S1  Final
1  -0.0      S1  Final
2  -0.0      S1  Final
3  -0.0      S1  Final
4  -0.0      S1  Final

In [13]:
EDA_df_prep = pd.DataFrame()
for s in students:
    for t in tests:
        df_paused = pd.read_csv(start_cd+s+'/'+t+'/EDA.csv')
        df_paused = df_paused.drop(0).reset_index().drop(columns=['index'])
        cols = df_paused.columns
        df_paused = df_paused.rename(columns={cols[0]:'data'})
        df_paused['student'] = s
        df_paused['test'] = t
        EDA_df_prep = pd.concat([EDA_df_prep,df_paused])

EDA_df = EDA_df_prep
EDA_df.head()

       data student   test
0  0.000000      S1  Final
1  0.005125      S1  Final
2  0.020501      S1  Final
3  0.021783      S1  Final
4  0.023064      S1  Final

In [14]:
HR_df_prep = pd.DataFrame()
for s in students:
    for t in tests:
        df_paused = pd.read_csv(start_cd+s+'/'+t+'/HR.csv')
        df_paused = df_paused.drop(0).reset_index().drop(columns=['index'])
        cols = df_paused.columns
        df_paused = df_paused.rename(columns={cols[0]:'data'})
        df_paused['student'] = s
        df_paused['test'] = t
        HR_df_prep = pd.concat([HR_df_prep,df_paused])

HR_df = HR_df_prep
HR_df.head()

     data student   test
0  116.00      S1  Final
1   82.50      S1  Final
2   96.33      S1  Final
3   86.25      S1  Final
4   98.60      S1  Final

In [15]:
IBI_df_prep = pd.DataFrame()
for s in students:
    for t in tests:
        df_paused = pd.read_csv(start_cd+s+'/'+t+'/IBI.csv')
        cols = df_paused.columns
        df_paused = df_paused.rename(columns={cols[0]:'time', cols[1]:'dt'})
        df_paused['student'] = s
        df_paused['test'] = t
        IBI_df_prep = pd.concat([IBI_df_prep,df_paused])

IBI_df = IBI_df_prep
IBI_df.head()

         time        dt student   test
0   84.847634  0.468771      S1  Final
1   85.347657  0.500023      S1  Final
2   85.722674  0.375017      S1  Final
3  107.754932  0.437520      S1  Final
4  108.223704  0.468771      S1  Final

In [16]:
TEMP_df_prep = pd.DataFrame()
for s in students:
    for t in tests:
        df_paused = pd.read_csv(start_cd+s+'/'+t+'/TEMP.csv')
        df_paused = df_paused.drop(0).reset_index().drop(columns=['index'])
        cols = df_paused.columns
        df_paused = df_paused.rename(columns={cols[0]:'temp (C°)'})
        df_paused['student'] = s
        df_paused['test'] = t
        TEMP_df_prep = pd.concat([TEMP_df_prep,df_paused])

TEMP_df = TEMP_df_prep
TEMP_df.head()

   temp (C°) student   test
0      21.89      S1  Final
1      21.89      S1  Final
2      21.89      S1  Final
3      21.89      S1  Final
4      21.89      S1  Final